.pas {
    background-color:rgb(226, 221, 221);
    box-shadow: 1px 2px 6px;
   
}
.container1  {
        padding-top: 50px;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;

.text122 {
    font-family: myfont;
    font-size: 60px;
}
}
.mess {
   
display: flex;
word-wrap: break-word;
justify-content: center;
gap: 50px;
 }