<div class="pas">
<div class="container1">
    <div>
        <h2 class="text122"> Why Choose us</h2>
        <p>As we proceed to give you what you need ,satisfaction guaranteed!</p>
    </div>
</div>

<div  class="mess">
    <div>
        <p>01</p>
        <h2>We Deliver</h2>
        <p>We Deliver on the most experienced way since more than 18 years.</p>
    </div>
    <div>
        <p>02</p>
        <h2>We Coock</h2>
        <p>We Coock for you a Delicius plate with the extravagant Taste.</p>
    </div>
    <div>
        <p>03</p>
        <h2>We Recipe</h2>
        <p>Fromt the erly years until now to you </p>
    </div> 
</div>
</div>