<h1> Wellcome </h1>
<p> Put your Details and Book a Table</p>

<div >
    <ul>
        <p>First Name:</p>
        <input type="text">
    </ul>
    <ul>
        <p>Last Name:</p>
        <input type="text">
    </ul>
    <ul>
        <p>Date of Booking</p>
        <input type="date">
    </ul>
    <ul>
        <form style= " display: flex; gap:10px">
            <input type="checkbox"  value="2 person">
            <label for="vehicle1"> 2 Persons</label>

            <input type="checkbox"  value="2 person">
            <label for="vehicle1"> 4 Persons</label>

            <input type="checkbox"  value="2 person">
            <label for="vehicle1"> 5+ Persons</label>
          </form>
    </ul>
    <ul>
        <form>
            <p>Email:</p>
           <input type="email">
          </form>
    </ul>
    <ul>
        <p>Write ur wishings:</p>
        <textarea></textarea> <br>
        <button> Confirm</button>
    </ul>
  
  
</div>