


<div class="container">
    <div class="abouti">

        <img src="./assets/images/aboutimage.jpg">
       
    </div>
    <h3 id="text">
        Welcome to [Restaurant Name], where culinary excellence and a warm atmosphere merge. Our talented chefs create delightful dishes using the finest ingredients and innovative techniques. From classic cuisine to adventurous flavors, our menu satisfies all tastes. Our attentive staff ensures a personalized experience, accommodating dietary preferences. We embrace sustainability, sourcing locally for vibrant flavors. Join us for unforgettable dining that lingers in your memory. Welcome to [Restaurant Name], where every bite is a moment to savor.
    </h3>
</div>