<h2>Your Cart:</h2>
<h2> Total: {{total}} €</h2>


<h2> Order Form</h2>
    <p>please fill up the delivery</p>
    <div>
      <p>Name :</p>
      <input type="text" name="" id="">
      <p>Address :</p>
      <input type="text" name="" id="">
    
    </div>
    <button > Purchase</button>

<div style=" display: flex; margin-top: 50px; "  class="gap-5 row row-cols-lg-4  
row-cols-md-3 row-cols-sm-2 row-cols-xs-1">



<div  *ngFor="let item of cart" >
<div class="card mb-3" style ="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{item.picture}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text"><small class="text-body-secondary">{{item.price}} €</small></p>
        </div>
    </div>
      </div>
    </div>



    



