<div>
<div class="mid-one">
        <img src="assets/images/hero.jpg">

    <div class="insider tuto">
    <h2 class="text122">Ristorante Di Tuto Bello</h2>  
</div>


<div class="insider1 tuto">
   <h4> great food for more than 18 years!</h4>
</div>

<div class="insider2 tuto ">
    <button  routerLink="/menu" class="btn btn-success">Our Menu</button>
    <button routerLink="/table" class="btn btn-success">Book a Table</button>
</div>
<br><br><br><br>

<div> 
    <div >
        <h2 class="text123">Ristorante Di Tuto Bello</h2>
    </div>
<div class="conti1">
    <div>

            <img src="assets/images/inside.jpg">
    </div>
    <div>
            
   
<h2>The Restourante of you Best Taste with the Unique Recipes</h2>
<p>Welcome to our restaurant, where exceptional dining experiences come to life! We pride ourselves on being the epitome of excellence, combining exquisite flavors, impeccable service, and an inviting ambiance. Our passionate chefs craft culinary masterpieces using only the finest, locally sourced ingredients, ensuring every bite is a sensation. Our dedicated staff is committed to providing you with personalized attention, making your visit memorable and extraordinary.</p>

    <ul> 
            <li>Culinary Excellence</li> 
            <li>Impeccable Service</li>
            <li>Inviting Ambiance</li>
    </ul>
    <p> From the moment you step through our doors, you'll feel the warmth of our hospitality and the magic of our cuisine. Discover why we are renowned for being the ultimate dining destination – because perfection is our promise to you.</p>
            </div>
</div>
 
</div>
</div>

<div>
 
</div>